body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

#fetch-data {
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.card {
    position: relative;
    width: 342px; /* Width as per the image provided */
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    background-color: #fff;
    text-align: left;
}

.card-image {
    height: 222px; /* Adjust as per your image's aspect ratio */
    background-size: cover;
    background-position: center;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.card-button {
    display: block;
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ddd;
    color: #333;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #ccc;
}

.card-button:active {
    background-color: #bbb;
}
